<div class="ap-home-container">
    <ap-card [template]="textHeader" class="home-content-card-wrapper"></ap-card>

    <ap-card [template]="inProgress" class="home-content-card-wrapper"></ap-card>
</div>

<ng-template #textHeader>
    <p>This is a workbench for my Angular work where I practice and develop new ideas. I build custom UI components,
        REST applications, and abstract applications.Currently, I am working on building a custom UI component library
        like Material Design and Bootstrap using only raw HTML, CSS, and JavaScript (TypeScrpit). My primary goal with
        this workbench is to practice my skills in and hone my knowledge of the Angular framework According to Angular's
        documentation: "Angular is an application-design framework and development platform for creatingefficient and
        sophisticated single-page apps."</p>

    <br>
</ng-template>

<ng-template #inProgress class="content-template-wrapper">
    <p class="home-content-card-title">In Progress</p>

    <p class="home-content-card-heading">
        Flex Grid Cards
        <a routerLink="/ap-flex-grid-cards" routerLinkActive="active" class="content-template-link">Visit page</a>
    </p>

    <p class="home-content-card-content">
        An attempt at a custom grid layout that flexibly fits and wraps sections of content inside it
    </p>
</ng-template>
