.toolbar-wrapper {
    height: 64px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.toolbar-col {
    width: calc(33.33% - 5px);
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.toolbar-align-left {
    justify-content: flex-start;
}

.toolbar-align-center {
    justify-content: center;
}

.toolbar-align-right {
    justify-content: flex-end;
}

.toolbar-icon {
    margin: 0 -6px 0 -4px;
    font-family: "Material Symbols Outlined";
    font-size: 48px;
    color: #0554F2;
    // color: white;
    color: #0554F2;
}

.toolbar-menu-icon {
    transform: scale(1.5);
    // color: white;
    color: #0554F2;
}

.toolbar-title {
    font-size: 32px;
    letter-spacing: 1px;
    // color: white;
    color: #0554F2;
}
