.root-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-header {
    z-index: 8;
    width: 100%;
    height: 64px;
    background-color: white;
    // background-color: #0554F2;
    box-shadow: 0 1px 4px 0 lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar {
    width: 100%;
    max-width: 1390px;
    padding: 0 25px 0 25px;
}

.app-body {
    z-index: 4;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    padding: 25px;
    max-width: 1390px;
    box-shadow: 0 0 4px 1px lightgrey;
}

.box-card-wrapper {
    width: 50%;
}
