<div class="root-container">
    <div class="app-header">
        <ap-toolbar class="toolbar"></ap-toolbar>
    </div>

    <div class="app-body">
        <router-outlet class="box-card-wrapper"></router-outlet>
        <ap-card [template]="textHeader">
            <ng-template #textHeader>
                <p>This is a test bench for my Angular work where I practice and develop new ideas. I build custom
                    UI components, REST applications, and abstract applications. According to Angular's
                    documentation: "Angular is an application-design framework and development platform for creating
                    efficient and sophisticated single-page apps."</p>
            </ng-template>
        </ap-card>

        <h2>Invert Colors</h2>
    </div>
</div>
